/* Agrega aquí tus estilos*/
* { 
    margin: 0; 
    padding: 0; 
}

html { 
    background: #000; 
    color: #fff; 
    font: 65%/1.5 Arial, Helvetica, sans-serif; 
}

body { 
    background: #000; 
}

p {
    font-size: 1.2em; line-height: 19px; 
}

* html p {
    line-height: 1.5em; 
}

ul { 
    list-style: none; 
}

a { 
    color: #da0000; 
    text-decoration: none; 
    border-bottom: 1px solid #da0000; 
}

a:hover { 
    color: #000; border: 0 !important; 
}

abbr { 
    border: 0; 
    font-style: italic; 
    color: #da0000; 
    cursor: help; 
}

a abbr { 
    color: inherit; 
}

.page-wrapper { 
    position: relative; 
    width: 1000px; 
    background: #fff url(ferlauf.png) repeat-x 0 95%; 
}

.intro { 
    background: url(header.png) no-repeat 216px 0; 
    width: 1200px; 
    padding-top: 240px; 
}

header { 
    position: absolute; 
    left: -9999px; 
    top: 0; 
    width: 0; 
    height: 0; 
    overflow: hidden; 
}
.summary { 
    width: 200px; 
    margin-left: 440px; 
}

.summary p { 
    margin-bottom: 10px; 
    color: #f6f6f6; 
}

.summary abbr { 
    color: #fff; 
    font-weight: bold; 
}

.summary a { 
    color: #ff0705; 
    font-weight: bold; 
    border-bottom: 1px solid #ff0705; 
}

.summary p:last-child {
    width: 400px; 
    margin-bottom: 45px; 
}

.preamble p, .supporting p { 
    margin-left: 340px; 
    width: 400px; 
    margin-bottom: 1em; 
    text-align: justify; 
}

.preamble a, .supporting a { 
    font-weight: bold; 
}

.summary h3, .preamble h3, .supporting h3 { 
    height: 46px; 
    margin-left: 340px; 
}

























.summary p:last-child { width: 400px; margin-bottom: 45px; }
