/* Agrega aquí tus estilos*/
* { 
    margin: 0; 
    padding: 0; 
}

html { 
    background: #000; 
    color: #fff; 
    font: 65%/1.5 Arial, Helvetica, sans-serif; 
}

body { 
    background: #000; 
}

p {
    font-size: 1.2em; line-height: 19px; 
}

* html p {
    line-height: 1.5em; 
}

ul { 
    list-style: none; 
}

a { 
    color: #da0000; 
    text-decoration: none; 
    border-bottom: 1px solid #da0000; 
}

a:hover { 
    color: #000; border: 0 !important; 
}

abbr { 
    border: 0; 
    font-style: italic; 
    color: #da0000; 
    cursor: help; 
}

a abbr { 
    color: inherit; 
}